<div class="container mt-5">

  <div class="rooms-body">
    {{#if newRecipeData.hits}}
    <div class="card-grid">
      {{#each newRecipeData.hits}}
      <div class="card">
        <img src={{this.recipe.image}} class="card-img-top" alt={{this.recipe.label}} />
        <div class="card-body">
          <h5 class="card-title">{{this.recipe.label}}</h5>

          <a href="/recipes/{{this.recipeId}}" type="button" class="btn btn-sm btn-outline-dark recipe-id">View Recipe
            Details Recipe ID</a>


          {{!-- view recipe url on another tab --}}
          {{!-- <a href="{{this.recipe.url}}" target="_blank" type="button"
            class="btn btn-sm btn-outline-dark recipe-id">View recipe site</a> --}}
          {{!-- view recipe url on another tab --}}

        </div>
      </div>
      {{/each}}
    </div>
{{else}}

    <div class="card-grid">
      {{#each communityRecipeData}}
      <div class="card">
        {{#if this.recipe.imageUrl}}
        <img src={{this.recipe.imageUrl}} class="card-img-top" alt={{this.recipe.label}} />
        {{/if}}
        <div class="card-body">
          <h5 class="card-title">{{this.recipe.label}}</h5>

          <a href="/community-recipes/{{this._id}}" type="button" class="btn btn-sm btn-outline-dark recipe-id">View
            Recipe Details</a>

        </div>
      </div>
      {{/each}}
</div>


      {{/if}}