<div class="container">

  <h1>WHey, {{user.username}}, seems like you want to edit your profile</h2>


    <hr>

    <div class="profile-container">

      <h2>Edit profile</h2>

      <img src="{{user.profilePic}}" alt="{{user.username}} image">

      <p>Intro about me</p>

      <form action="/profile/edit-profile" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="imageUpload" class="form-label">Change Profile Picture</label>
          <input type="file" class="form-control-file" id="imageUpload" name="imageUpload" />

          <label for="username" class="form-label">Change Username</label>
          <input type="text" class="form-control-file" id="username" name="username" value="{{user.username}}"/>

          <label for="password" class="form-label">Change Username</label>
          <input type="text" class="form-control-file" id="password" name="password" value="{{user.password}}"/>
          {{!-- <input type="text" name="existingImage" hidden value="{{user.profilePic}}" /> --}}
          <button type="submit" class="btn btn-secondary" >Submit</button>
        </div>
      </form>
    </div>


</div>





















{{!-- <div class="container"> --}}

  {{!-- profile picture --}}



  <!-- Button trigger modal -->
  {{!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button> --}}

  <!-- Modal -->
  {{!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div> --}}



  <!-- Button trigger modal -->
  {{!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button> --}}

  <!-- Modal -->
  {{!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>


</div> --}}