<div class="container">

  <h1>User profile</h2>
  <div>
      <h2>Create a new recipe</h2>
  <a href="/recipes/create" type="button" class="btn btn-sm btn-outline-dark">Create new recipe</a>

  </div>

<hr>

<div class="profile-container">

  <h2>Edit profile</h2>

  <img src="" alt="{{this.username}} image">

  <div class="prof-btn-container">
    <a href="/profile/uname-update" type="button" class="btn btn-sm btn-outline-dark">Edit your user name</a>

    <a href="/profile/pwd-update" type="button" class="btn btn-sm btn-outline-dark">Edit your password</a>

    <a href="/profile/pic-update" type="button" class="btn btn-sm btn-outline-dark">Edit your profile picture</a>

  </div> {{!-- class="prof-btn-container" --}}
</div> {{!-- class"profile-container" --}}

<hr>

<h2>Your recipes</h2>

  <div class="recipe-body">
    <div class="card-grid">

        {{#each recipes}}
          <div class="card">
            <img src={{this.imageUrl}} class="card-img-top" alt={{this.label}} />
            <div class="card-body">
              <h5 class="card-title">{{this.label}}</h5>
              <p class="card-text"> {{this.description}}</p>
            </div>
            <div class="card-links">
              <div>
               <a href="/recipe/{{this.id}}/edit" type="button" class="btn btn-sm btn-outline-dark">Edit room</a>
              </div>
              <div>
                <form action="/recipe/{{this.id}}/delete" method="POST">
                  <button class="btn btn-sm btn-outline-dark">Delete recipe</button>
                </form>
              </div>
            </div>
          </div>
        {{/each}}
    
    </div>
  </div>
</div>

{{!-- axios required script --}}
<script src="/js/login-signup-pops.js"></script>