<div class="container mt-10">

  <h1>Welcome back, {{user.username}}! This is your user profile</h2>


    <hr>

    <div class="profile-container">

      <div class="row">
        <div class="col-4">
        <img src="{{user.profilePic}}" alt="{{user.username}} image"></div>
<div class="col-6 mt-5">
        <div>
          <h2>About me</h2>
          <p>{{user.username}}</p>
          <p>{{user.about}}</p>
        </div>

        <a href="/profile/edit-profile" class="btn btn-md btn-outline-dark">Edit your profile</a>
</div>
      </div>



    </div> {{!-- class"profile-container" --}}

    <hr>

    <div class="container px-4 py-5" id="custom-cards">
      <h2 class="pb-2 border-bottom">What do you want to do today?</h2>

      <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
        <div class="col">
          <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-4 shadow-lg"
            style="background-image: url('unsplash-photo-1.jpg');">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
              <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"><a href="/profile/my-cookbook">Go to my Cookbook</a>
              </h2>
              <ul class="d-flex list-unstyled mt-auto">
              
              </ul>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-4 shadow-lg"
            style="background-image: url('unsplash-photo-2.jpg');">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
              <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"><a href="/profile/my-recipes">Go to my Recipes</a></h2>
   
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-4 shadow-lg"
            style="background-image: url('unsplash-photo-3.jpg');">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
              <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"><a href="/community-recipes/create-recipe">Create a new
                  Recipe</a></h2>
      
            </div>
          </div>
        </div>
      </div>
    </div>




    <hr>
    <h2>Your reviews</h2>

    <div class="recipe-body">
      <div class="card-grid">

        {{#each reviews}}
        <div class="card">
          {{!-- <img src={{this.imageUrl}} class="card-img-top" alt={{this.label}} /> --}}
          <div class="card-body">
            <h5 class="card-title">{{this.recipeName}}</h5>
            <p class="card-text"> {{this.comment}}</p>
          </div>
          <div class="card-links">
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="/community-recipes/{{this.recipeId}}" type="button" class="btn btn-sm btn-outline-secondary"><i
                    class="bi-eye-fill" style="font-size: 1rem; color: cornflowerblue;"></i> View</a>
                <a href="/reviews/{{this.id}}/edit-review" type="button" class="btn btn-sm btn-outline-secondary"><i
                    class="bi-pencil-fill" style="font-size: 1rem; color: cornflowerblue;"></i> Edit</a>
                {{!-- <button type="submit" class="btn btn-sm btn-outline-dark delete-recipe-button"><i
                    class="bi-trash-fill" style="font-size: 1rem; color: red;"></i> Delete<span
                    hidden>{{this._id}}</span></button> --}}
                <form action="/reviews/{{this.id}}/delete-review" method="POST">
                  <button type="sumbit" class="btn btn-sm btn-outline-dark delete-review-button"><i
                      class="bi-trash-fill" style="font-size: 1rem; color: cornflowerblue;"></i> Delete</button>
                </form>
              </div>
              <div>

              </div>
            </div>



          </div>
        </div>
        {{/each}}

      </div>
    </div>
</div>

{{!-- axios required script --}}
<script src="/js/login-signup-pops.js"></script>
<script>const urlParams = new URLSearchParams(window.location.search);
  const msg = urlParams.get('msg')
  if (msg != null) {
    alert(msg);
  }
</script>