<h1>My Cookbook</h1>

<div class="container">

    <div class="recipe-body" id="favorite-recipes">
        <div class="card-grid">

            {{#each favorites}}
            <div class="card">
                {{#if this.recipe.imageUrl}}
                <img src={{this.recipe.imageUrl}} class="card-img-top" alt={{this.recipe.label}} />
                {{/if}}
                <div class="card-body">
                    <h5 class="card-title">{{this.recipe.label}}</h5>
                    <p class="card-text"> {{this.recipe.description}}</p>
                </div>
                <div class="card-links">
                    <div>
                        <a href="/community-recipes/{{this._id}}" type="button"
                            class="btn btn-sm btn-outline-dark"><i class="bi-eye-fill" style="font-size: 1rem; color: cornflowerblue;"></i> View</a>
                    </div>

                    <div>
                        {{!-- <form action="/community-recipes/{{this._id}}/remove-favorite" method="POST"> --}}
                            <button type= "sumbit" class="btn btn-sm btn-outline-dark remove-favorite-button"><i class="bi-trash-fill" style="font-size: 1rem; color: red;"></i> Remove<span hidden>{{this._id}}</span></button>
                        {{!-- </form> --}}
                    </div>
                </div>
            </div>
            {{/each}}

        </div>
    </div>
</div>

<script src="/js/remove-favorite.js"></script>