<div class="container">
  <h1>Welcome back, {{username}}! This is your user profile</h2>
  <div>
      <h2>Create a new recipe</h2>
      <p>Click the button and create a new recipe</p>
  <a href="/recipes/create" type="button" class="btn btn-sm btn-outline-dark">Create new recipe</a>

</div>

<hr>

<h2>Your recipes</h2>

  <div class="recipe-body">
    <div class="card-grid">

        {{#each recipe}}
          <div class="card">
            <img src={{this.imageUrl}} class="card-img-top" alt={{this.name}} />
            <div class="card-body">
              <h5 class="card-title">{{this.name}}</h5>
              <p class="card-text"> {{this.description}}</p>
            </div>
            <div class="card-links">
              <div>
               <a href="/recipe/{{this._id}}/edit" type="button" class="btn btn-sm btn-outline-dark">Edit room</a>
              </div>
              <div>
                <form action="/recipe/{{this._id}}/delete" method="POST">
                  <button class="btn btn-sm btn-outline-dark">Delete recipe</button>
                </form>
              </div>
            </div>
          </div>
        {{/each}}
    
    </div>
  </div>
</div>