{{!-- {{#if recipeData}} --}}
<h1 class="display-3 fw-bold"> {{recipe.recipe.label}}</h1>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-9">
      <h3>Cuisine type:</h3>
      <p>{{recipe.recipe.cuisineType}}</p>
      <h3>Meal type:</h3>
      <p>{{recipe.recipe.mealType}}</p>
      <h3>Dish type:</h3>
      <p>{{recipe.recipe.dishType}}</p>
      <h3>Description: </h3>
      <p>{{recipe.recipe.description}}</p>
      <h3>Ingredients: </h3>
      <ul>
        {{#each recipe.recipe.ingredients}}
        <li>{{this.text}}</li>
        {{/each}}
      </ul>
      <img src="{{recipe.recipe.image}}" alt="" />
      <p>Source: <a href="{{recipe.recipe.url}}" target="_blank">View full recipe on original site</a></p>

      {{!-- <form action="/recipes/{{recipe.recipeId}}/save-favorite" method="POST">
        <button class="btn btn-sm btn-outline-dark">Save recipe to favorites</button>
      </form> --}}
      <hr>

      <a href="/recipes" class="btn btn-sm btn-outline-dark">Go back to recipes list</a>

    </div>

  </div>
</div>
</div>