<div class="px-4 text-center">

  <img src="{{recipe.recipe.imageUrl}}" alt="" />
    {{!-- <h1 class="display-3 fw-bold">{{recipe.recipe.label}}</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">{{recipe.recipe.description}}</p>
      {{!-- <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
      </div> --}}
    </div> --}}
  </div>



<h1 class="display-3 fw-bold"> {{recipe.recipe.label}}</h1>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-9">
      <h6>Cuisine type:</h6>
      <p>{{recipe.recipe.cuisineType}}</p>
      <h6>Meal type:</h6>
      <p>{{recipe.recipe.mealType}}</p>
      <h6>Dish type:</h6>
      <p>{{recipe.recipe.dishType}}</p>
      <h6>Description: </h6>
      <p>{{recipe.recipe.description}}</p>
      <h6>Instructions: </h6>
      <p>{{recipe.recipe.instructions}}</p>
      <h6>Ingredients: </h6>
      {{!-- {{#each recipe.recipe.ingredientLines}}
      <p>{{this}}</p>
      {{/each}} --}}
      <ul>
        
        {{#each recipe.recipe.ingredients}}
        {{!-- <li>{{this.text}}</li> --}}
        <li>{{this.quantity}} {{this.measure}} {{this.food}}</li>
        
        {{/each}}
      </ul>
      {{!-- <img src="{{recipe.recipe.imageUrl}}" alt="" /> --}}
{{#if isLoggedIn}}
      <form action="/community-recipes/{{recipe._id}}/save-favorite" method="POST">
        <button class="btn btn-sm btn-outline-dark"><i class="bi-heart-fill" style="font-size: 1rem; color: red;"></i> Save to Cookbook</button>
      </form>
      {{/if}}

      <hr>

      <h3>Reviews: </h3>

      <ul class="list-group list-group-flush">
        {{#each recipe.reviews}}
        <li class="list-group-item">
          <p>{{this.comment}}</p>
          <p>{{this.user.username}}</p>

        </li>

        {{/each}}
      </ul>

      {{#if isLoggedIn}}
      {{!-- <div class="col-md-9"> --}}
        {{!-- <form action="/community-recipes/{{_id}}" method="POST">

          <div class="mb-3">
            <label for="comment" class="form-label">Your review</label>
            <input required type="text" class="form-control" id="comment" name="comment" />
          </div>

          <button type="submit" class="btn btn-sm btn-outline-dark">Create new
            review</button>

        </form> --}}
        {{!-- <a href="/recipes/{{recipe.id}}" class="btn btn-sm btn-outline-dark">Go back</a> --}}
      {{!-- </div> --}}
      <a href="/reviews/{{recipe._id}}/review" type="button" class="btn btn-sm btn-outline-dark">Create review</a>
      {{/if}}


      <a href="/community-recipes" class="btn btn-sm btn-outline-secondary">Go back to recipes list</a>

    </div>

  </div>
</div>
</div>