<h1> {{recipe.recipe.label}}</h1>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-9">
      <h3>Cuisine type:</h3>
      <p>{{recipe.recipe.cuisineType}}</p>
      <h3>Meal type:</h3>
      <p>{{recipe.recipe.mealType}}</p>
      <h3>Dish type:</h3>
      <p>{{recipe.recipe.dishType}}</p>
      <h3>Description: </h3>
      <p>{{recipe.recipe.description}}</p>
      <h3>Ingredients: </h3>
      {{#each recipe.recipe.ingredientLines}}
      <p>{{this}}</p>
      {{/each}}
      <ul>
        
        {{#each recipe.recipe.ingredients}}
        <li>{{this.text}}</li>
        {{/each}}
      </ul>
      <img src="{{recipe.recipe.imageUrl}}" alt="" />

      <form action="/community-recipes/{{recipe._id}}/save-favorite" method="POST">
        <button class="btn btn-sm btn-outline-dark">Save recipe to favorites</button>
      </form>

      <hr>

      <h3>Reviews: </h3>

      <ul class="list-group list-group-flush">
        {{#each recipe.reviews}}
        <li class="list-group-item">
          <p>{{this.comment}}</p>
          <p>{{this.user.username}}</p>

        </li>

        {{/each}}
      </ul>

      {{#unless isOwner}}
      <div class="col-md-9">
        {{!-- <form action="/community-recipes/{{_id}}" method="POST">

          <div class="mb-3">
            <label for="comment" class="form-label">Your review</label>
            <input required type="text" class="form-control" id="comment" name="comment" />
          </div>

          <button type="submit" class="btn btn-sm btn-outline-dark">Create new
            review</button>

        </form> --}}
        {{!-- <a href="/recipes/{{recipe.id}}" class="btn btn-sm btn-outline-dark">Go back</a> --}}
      </div>
      <a href="/reviews/{{recipe._id}}/review" type="button" class="btn btn-sm btn-outline-dark">Create review</a>
      {{/unless}}


      <a href="/community-recipes" class="btn btn-sm btn-outline-secondary">Go back to recipes list</a>

    </div>

  </div>
</div>
</div>