<div class="container">
  <h1>Recipes List</h1>

  <div class="rooms-body">
    <form action="/recipes/search" method="GET">
      <label>
        Search
        <input type="text" name="q" />
      </label>

      <button type="submit">SEARCH</button>
    </form>
    <div class="card-grid">
      {{#each recipeData.hits}}
        <div class="card">
          <img
            src={{this.recipe.image}}
            class="card-img-top"
            alt={{this.recipe.label}}
          />
          <div class="card-body">
            <h5 class="card-title">{{this.recipe.label}}</h5>
            <a
              {{!-- href="/recipes/{{this.recipe.uri}}" --}}
              href="{{this.recipe.url}}"
              type="button"
              class="btn btn-sm btn-outline-dark"
            >View Recipe Details</a>
            <p hidden>{{this.recipe.url}}</p>
          </div>
        </div>
      {{/each}}
    </div>
    <a
              {{!-- href="/recipes/{{this.recipe.uri}}" --}}
              href="{{recipeData._links.next.href}}"
              type="button"
              class="btn btn-sm btn-outline-dark"
            >Next page</a>
            {{!-- <p hidden>{{this.recipe.url}}</p> --}}
  </div>
</div>