
<div class="container">
<h1>Recipes Search results</h1>

<div class="rooms-body">

</form>
<div class="card-grid">
  {{#each recipes}}
    <div class="card">
      {{#if this.recipe.imageUrl}}
      <img src={{this.recipe.imageUrl}} class="card-img-top" alt={{this.recipe.label}} />
      {{/if}}
      <div class="card-body">
        <h5 class="card-title">{{this.recipe.label}}</h5>
        <a
              {{!-- href="/recipes/{{this.recipe.uri}}" --}}
              href="{{this._id}}"
              type="button"
              class="btn btn-sm btn-outline-dark"
            >View Recipe Details</a>
      </div>
    </div>
  {{/each}}
</div>
</div>
</div>