<div class="bg-dark text-secondary px-4 py-5 text-center">
  <div class="py-5">
    <h1 class="display-8 fw-bold text-white">Web Recipes Search Results for {{q}}</h1>
    {{!-- <div class="col-lg-6 mx-auto">
      <p class="fs-5 mb-4">Welcome to the new recipes platform! Here you can search for recipes from all over the
        web, upload your own and create your own "cookbook" with your favorite recipes.</p>
    </div> --}}
  </div>
</div>


<div class="container mt-5">

  <div class="rooms-body">

    </form>
    <div class="card-grid">
      {{#each newRecipeData.hits}}
      <div class="card">
        <img src={{this.recipe.image}} class="card-img-top" alt={{this.recipe.label}} />
        <div class="card-body">
          <h5 class="card-title">{{this.recipe.label}}</h5>
          <a {{!-- href="/recipes/{{this.recipe.uri}}" --}} href="{{this.recipeId}}" type="button"
            class="btn btn-sm btn-outline-dark">View Recipe Details</a>
          <p hidden>{{this.recipe.uri}}</p>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>